[Desktop Entry]
Name=qmpdplasmoid
Name[ast]=qmpdplasmoid
Name[bg]=qmpdplasmoid
Name[ca]=qmpdplasmoid
Name[ca@valencia]=qmpdplasmoid
Name[cs]=qmpdplasmoid
Name[da]=qmpdplasmoid
Name[de]=qmpdplasmoid
Name[el]=qmpdplasmoid
Name[en_GB]=qmpdplasmoid
Name[eo]=qmpdplasmoid
Name[es]=qmpdplasmoid
Name[et]=qmpdplasmoid
Name[fi]=qmpdplasmoid
Name[fr]=qmpdplasmoid
Name[ga]=qmpdplasmoid
Name[gl]=qmpdplasmoid
Name[hu]=qmpdplasmoid
Name[it]=qmpdplasmoid
Name[ja]=qmpdplasmoid
Name[kk]=qmpdplasmoid
Name[km]=qmpdplasmoid
Name[ko]=qmpdplasmoid
Name[lv]=qmpdplasmoid
Name[nb]=qmpdplasmoid
Name[nds]=qmpdplasmoid
Name[nl]=qmpdplasmoid
Name[nn]=qmpdplasmoid
Name[pa]=qmpdplasmoid
Name[pl]=qmpdplasmoid
Name[pt]=qmpdplasmoid
Name[pt_BR]=qmpdplasmoid
Name[ro]=qmpdplasmoid
Name[ru]=qmpdplasmoid
Name[sr]=qmpdplasmoid
Name[sr@ijekavian]=qmpdplasmoid
Name[sr@ijekavianlatin]=qmpdplasmoid
Name[sr@latin]=qmpdplasmoid
Name[sv]=qmpdplasmoid
Name[tr]=qmpdplasmoid
Name[uk]=qmpdplasmoid
Name[x-test]=xxqmpdplasmoidxx
Name[zh_CN]=qmpdplasmoid
Name[zh_TW]=qmpdplasmoid
Comment=Plasma qmpdplasmoid
Comment[ast]=Plasma qmpdplasmoid
Comment[ca]=Plasma qmpdplasmoid
Comment[ca@valencia]=Plasma qmpdplasmoid
Comment[cs]=Plasma qmpdplasmoid
Comment[da]=Plasma qmpdplasmoid
Comment[de]=Plasma qmpdplasmoid
Comment[el]=Plasma qmpdplasmoid
Comment[en_GB]=Plasma qmpdplasmoid
Comment[eo]=Plasma qmpdplasmoid
Comment[es]=Plasma qmpdplasmoid
Comment[et]=Plasma qmpdplasmoid
Comment[fi]=Plasma qmpdplasmoid
Comment[fr]=Plasma qmpdplasmoid
Comment[ga]=Plasma qmpdplasmoid
Comment[gl]=Plasma qmpdplasmoid
Comment[hu]=Plasma qmpdplasmoid
Comment[it]=Plasma qmpdplasmoid
Comment[ja]=Plasma qmpdplasmoid
Comment[kk]=Plasma qmpdplasmoid
Comment[km]=ប្លាស្មា qmpdplasmoid
Comment[ko]=Plasma qmpdplasmoid
Comment[lv]=Plasma qmpdplasmoid
Comment[nb]=Plasma qmpdplasmoid
Comment[nds]=Plasma qmpdplasmoid
Comment[nl]=Plasma qmpdplasmoid
Comment[nn]=Plasma qmpdplasmoid
Comment[pa]=ਪਲਾਜ਼ਮਾ qmpdplasmoid
Comment[pl]=Plazma qmpdplasmoid
Comment[pt]=Plasma qmpdplasmoid
Comment[pt_BR]=Plasma qmpdplasmoid
Comment[ro]=Plasma qmpdplasmoid
Comment[ru]=Plasma qmpdplasmoid
Comment[sr]=Плазмин qmpdplasmoid
Comment[sr@ijekavian]=Плазмин qmpdplasmoid
Comment[sr@ijekavianlatin]=Plasmin qmpdplasmoid
Comment[sr@latin]=Plasmin qmpdplasmoid
Comment[sv]=Plasma qmpdplasmoid
Comment[tr]=Plasma qmpdplasmoid
Comment[uk]=Плазма qmpdplasmoid
Comment[x-test]=xxPlasma qmpdplasmoidxx
Comment[zh_CN]=Plasma qmpdplasmoid
Comment[zh_TW]=Plasma qmpdplasmoid
Type=Service

Icon=applications-multimedia
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_qmpdplasmoid
X-KDE-PluginInfo-Author=Hendrik Borghorst
X-KDE-PluginInfo-Email=hendrikborghorst@googlemail.com
X-KDE-PluginInfo-Name=qmpdplasmoid
X-KDE-PluginInfo-Version=0.0.7
X-KDE-PluginInfo-Website=http://kde-look.org/content/show.php/qmpdplasmoid?content=140412
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true

